.work-detail-page {
    max-width: 900px; 
}

.back-link {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 0.9rem;
    color: #777;
}

.detail-main-image {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.work-detail-page h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.work-detail-page p {
    font-size: 1.1rem;
    color: #444;
    margin-bottom: 20px;
}

.youtube-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    margin-bottom: 30px;
    overflow: hidden;
}

.youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.no-image-detail {
    width: 100%;
    height: 400px;
    background-color: #0000FF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 700;
}